In [1]:
for p in range(2):
    in_=input()

swathi
deepu

In [9]:
for s in range(11,0,-1):
    print(s)

11
10
9
8
7
6
5
4
3
2
1

In [46]:
for(i==0:i<n:i++):
in_=input()
if(input%4==0|input%400==0)
    print("leap year")
else:
        print("not a leap year")

SyntaxError: invalid syntax (<ipython-input-46-187eff6e24f8>, line 1)

In [19]:
for i in range(2):
    in_=input(ub,lb)
if (i%4==0&i%400):
    print("leap year")
else(i!%100):
    print("not a leap year")

SyntaxError: invalid syntax (<ipython-input-19-08fbc8051641>, line 5)

In [47]:
s=0
i=0
while(i<=9):
    s=s+i
    i=i+1
    #i+=1
    print("lop",s)
    print(s)

lop 0
0
lop 1
1
lop 3
3
lop 6
6
lop 10
10
lop 15
15
lop 21
21
lop 28
28
lop 36
36
lop 45
45

In [58]:
for i in range(3):
in_=input()
s=2
p=5
while(i<=3):
    input(1)
print(s+p)
input(2)
print(s*p)
input(3)
print(s/p)

IndentationError: expected an indented block (<ipython-input-58-1c4cd1130a28>, line 2)

In [59]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# String Methods

## Is upper and Is lower

In [60]:
a="Machiraju"
print(a[1].isupper())
print(a[0].isupper()) ## To find tht given string is in upper or not(if upper(true),not(false))
print(a[1].upper())
print(a.upper())

False
True
A
MACHIRAJU

In [65]:
s="multiskill"
s.find('m')
s.find('i',5,len(s))
s.find('l',-1)   ## to find ll count

9

In [66]:
## index
a="index"
a.index('x')

4

In [67]:
s="143swathi"
a=s.isdigit ()
print(a)
s="1234"
print(s.isdigit())
## ISALPHA
s="abc1234"
print(s.isalpha())
print(s.isalpha())

False
True
False
False

## split

In [69]:
a="kvsw womens"
b=a.split()
print(b)
a="kvsw, womens"
b=a.split(',')
print(b)

['kvsw', 'womens']
['kvsw', ' womens']

In [70]:
h="www/google.com"
a=h.split('/')
print(a)
b=a[1].split('.')
print(b)
d=a[0]
e=b[0]
f=b[1]
print(d,e,f,sep=",")

['www', 'google.com']
['google', 'com']
www,google,com

In [71]:
a="10 11 12 13 14 15"
b=a.split()
print(b[0])
print(b[1])
print(b[2])

10
11
12

## Join

In [72]:
a="India"
b=",".join(a)
print(b)
a="swathi"
b=",".join(a)
print(b)

I,n,d,i,a
s,w,a,t,h,i

## Replace

In [73]:
s="swathi"
a=s.replace('a','A',1) ##to replace one value
print(a)

swAthi

# Strip

In [2]:
s="      Python is easy to learn     "
c=(s.strip())
print(len(c))
a=s.lstrip()   ## left strip
print(len(a))
b=s.rstrip()   ## right strip
print(len(b))

23
28
29

# Display images

<img src="swathi.PNG">

# Conditional Statements
 1.if(condition)----True only   
 2.if-else----True/false
 3.nested if----

In [6]:
x=8
if x>0: 
    print("x is greter than 0")

x is greter than 0

In [7]:
if x>9:
    print("x is greater than 9")
else:
    print("x value is greater than 9")

x value is greater than 9

In [9]:
a=input()
if a=="swathi":
    print("strings are equal")
else:
    print("strings are not equal")

swathi
strings are equal

### If else

In [11]:
x=89
if x!=89:
    print("x is not equal to 89")
elif(x==89):
    print("x is  equal to 89")
else:
        print("none")

x is  equal to 89

In [13]:
num=int (input())
if(num==0):
    print("num is composite")
elif num%2==0:
    print("num is even")
else:
    print("num is odd")

23
num is odd

# Checking the elements using if

In [14]:
s="PYThon Awesome"
if "Th" in s:
    print("there")
else:
    print("not there")

there

## Loops
 1.for(initialization,condition,increment)
 2.while(condition)

In [15]:
var_=["cse","mech","civil","ece"]
for i in var_:
    print(i,end=" ") # to keep input side by side
    # print(i)

cse mech civil ece

In [16]:
var_=["cse","mech","civil","ece"]
for i in var_:
    print(i)
    if i=="civil":
        break

cse
mech
civil

In [19]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [20]:
for i in range(0,11,3):
    print(i)

0
3
6
9

In [21]:
for i in range(11,0,-2):
    print(i)

11
9
7
5
3
1