In [1]:
print("hello world")

hello world

# Day Objectives
## Markdown Syntax
### Python basics

*Welcome world*

**Text**

***Robot***

* Text

In [4]:
*  Text

SyntaxError: can't use starred expression here (<ipython-input-4-70d165440662>, line 4)

*  Text

>1 Text

# Python Basics

## find the python

In [7]:
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

## print welcome world

In [10]:
print("Welcome world!")

Welcome world!

In [11]:
print("kvsw")
print("Swathi")

kvsw
Swathi

In [17]:
print("kvsw"+" swathi")
s="hlooo"
p="hiii"
print(s)

kvsw swathi
hlooo

## Data types in python
* Int
* Float
* String
* Complex
* List
* Tuples
* Set

In [ ]:
# Variable=

In [33]:
u=143
print(u)
type(u)

143

int

In [23]:
s=12.143
print(s)
type(s)

12.143

float

In [24]:
p="deepu"
print(p)
type(p)

deepu

str

In [28]:
h=3+4j

type(h)

complex

## Data type conversion

In [31]:
p=str(h)
p

'(3+4j)'

In [34]:
q=float(u)
q

143.0

## Variables assigning
>1. Different data types can be assigned as adifferent variables.
>2. Same data types can be assigned as a different variables.

In [43]:
p,q,r=22,"hii",1.15
print(p,q,r)
print(type(p))
print(type(q))
print(type(r))
print(type(p),type(q),type(r))
print("hekkooljhyfrgdghcb")

22 hii 1.15
<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'> <class 'str'> <class 'float'>
hekkooljhyfrgdghcb

In [46]:
p=q=r="pradeep"
print(q)

pradeep

## Arithmetic and logical operations in python

In [50]:
p=22
s=115
print("addition",p+s)

addition 137

In [52]:
u=567
v=4564
print("sub",v-u)

sub 3997

In [53]:
r=564
p=786
print("mul",r*p)

mul 443304

In [54]:
t=97890
g=6578
print("div",t/g)

div 14.881422924901186

In [55]:
t=97890
g=6578
print("div",t//g)

div 14

In [61]:
j=89
k=5
print("suare",j**k)

suare 5584059449

In [64]:
j=5
l=3
print(j**4)

625

# Comments in python

In [66]:
'''hii
heeeloooo
how are you'''
hushdgsfbcsjbc

NameError: name 'hushdgsfbcsjbc' is not defined

# Task

In [121]:
print("""welcome to apssdc
      Mstp program""")

welcome to apssdc
      Mstp program

In [122]:
print("""*****
*****
*****""")

*****
*****
*****

In [123]:

math.pi
print(math.pi)
type(math.pi)

3.141592653589793

float

In [111]:
p=101
print(p**3)

1030301

In [113]:
s=23
p=str(s)
p

'23'

In [115]:
a=23
b=46
avg=a+b/2
print(avg)

46.0

In [116]:
a=123
b=659
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)

782
-536
81057
0.18664643399089528
0

In [133]:
x=y=z="kvsw123"
print(x,y,z)

kvsw123 kvsw123 kvsw123

In [134]:
x=y=z="python",31.567,6+89j
print(x,y,z)

('python', 31.567, (6+89j)) ('python', 31.567, (6+89j)) ('python', 31.567, (6+89j))