### Tuples
##### 1.It is a collection of different data types seperated by comas&enclosed with"()"
##### 2.it can store diff data types like int,float,string......

In [2]:
t=(22,1,15,17,23,18,"swat","deepu")
t

(22, 1, 15, 17, 23, 18, 'swat', 'deepu')

In [3]:
type(t)

tuple

In [4]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## Count

In [5]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [7]:
t.count("deepu") # to count the elements

1

In [9]:
t1=(1,2,3,4,55,44,55,33,99,111,"cse","kvsw")
t1

(1, 2, 3, 4, 55, 44, 55, 33, 99, 111, 'cse', 'kvsw')

In [13]:
t1.count(55)

2

In [14]:
t1.index("cse")

10

In [15]:
t1[0]

1

In [17]:
t1[-1] # to find the index of last element

'kvsw'

In [19]:
t1[1:] # to acess the elements using index values

(2, 3, 4, 55, 44, 55, 33, 99, 111, 'cse', 'kvsw')

In [26]:
print(t1*2)

(1, 2, 3, 4, 55, 44, 55, 33, 99, 111, 'cse', 'kvsw', 1, 2, 3, 4, 55, 44, 55, 33, 99, 111, 'cse', 'kvsw')

In [22]:
print(t+t1)

(22, 1, 15, 17, 23, 18, 'swat', 'deepu', 1, 2, 3, 4, 55, 44, 55, 33, 99, 111, 'cse', 'kvsw')

In [27]:
print(t*2)

(22, 1, 15, 17, 23, 18, 'swat', 'deepu', 22, 1, 15, 17, 23, 18, 'swat', 'deepu')

# Set
###### 1.it is collection of elements seperated by comma(,)enclosed with{ }.
###### 2.It doesn't have index so the elements is in unordered.

In [31]:
se={1,22,15,17,23,1,22,15}
type(se)
se

{1, 15, 17, 22, 23}

In [36]:
s={"swathi","deepu","satish"}
type(s)
s

{'deepu', 'satish', 'swathi'}

In [37]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [38]:
se

{1, 15, 17, 22, 23}

In [39]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

### Add

In [40]:
se.add(18)
se

{1, 15, 17, 18, 22, 23}

In [41]:
se.add(23)
se

{1, 15, 17, 18, 22, 23}

### Clear

In [42]:
se.clear()

In [43]:
se

set()

In [44]:
s1={2,5,9,8,7,6,5,9}
s1

{2, 5, 6, 7, 8, 9}

### Copy

In [46]:
s1copy=s1.copy()
print(s1copy)
print(s1)

{2, 5, 6, 7, 8, 9}
{2, 5, 6, 7, 8, 9}

### Difference

In [47]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [53]:
p={1,2,3,4,5,6}
q={9,8,7,6,0,8}
r=p.difference(q) # it prints the values that x having elements in y means it removes the elements that present in y&prints
r1=q.difference(p)
print(r1)
print(r)

{0, 8, 9, 7}
{1, 2, 3, 4, 5}

## Is disjoint

In [55]:
print(q.isdisjoint(p)) # it prints true if no elemnts are same or false if one element matches 
print(p.isdisjoint(q))

False
False

## Union

In [56]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [57]:
print(p.union(q))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Intersection

In [58]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [59]:
print(p.intersection(q))

{6}

## Is subset

In [61]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [65]:
print(p.issubset(q))
print(q.issubset(p)) # it prints true or false

False
False

## Is superset

In [66]:
help(set.issuperset)

Help on method_descriptor:

issuperset(...)
    Report whether this set contains another set.

In [67]:
print(p.issuperset(q))

False

##### Acessing elements in set

In [69]:
s_p={1,2,3,15,22}
for cse in s_p: # here s_p is length
    print(cse,end=" ") # end is used to print in horizontal

1 2 3 15 22

## Update

In [74]:
updated_set=p.update(q)
print(updated_set) # it updated the union values of p&q and updated in p and prints p
p

None

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Symmetric_Difference

In [75]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [76]:
s=p.symmetric_difference(q)
s

{1, 2, 3, 4, 5}

## Remove

In [83]:
q.remove(6)
q

{7, 8}

## Pop

In [77]:
p.pop()
p

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [78]:
p.pop()
p

{2, 3, 4, 5, 6, 7, 8, 9}

## Discard

In [85]:
q.discard(6)
q

{7, 8}

In [89]:
li=[11,22,11,33,55,99,55]
print(type(li),li)
p=set(li)
print(type(p),p)

<class 'list'> [11, 22, 11, 33, 55, 99, 55]
<class 'set'> {33, 99, 11, 22, 55}

In [3]:
s=list(set(map(int,input().split())))
print(s)

5 6 7 8 8 5
[8, 5, 6, 7]